/*
Complementary Color Scheme
 Pink coral:	#F88379
				rgba(248,131,121,1)
 Light Green:	#6DDE9E
 				rgba(109,222,158,1)
 Dark Green:	#2A9257
 				rgba(42,146,86)
*/

/*
New Color Scheme
https://color.adobe.com/Watermelon-color-theme-42374/?showPublished=true
 Dark Green:    #40411E
 Green:			#7D8A2E
 Light green:	#C9D787
 White:			#FFFFFF
 Peach:			#FFC0A9
 Pink:			#FF8598
*/

body {
	height:;
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	color: #FF8598;
	background-image: url("../images/tree_bark.png");
	background-attachment: fixed;
}

header {
	position: fixed;
	background: linear-gradient(to bottom, rgba(255,255,255,.7), rgba(255,255,255,.8));
	padding: 0;
	width: 100%;
	height: 60px;
	font-size: 20px;
	z-index: 2;
}
header #logo {
	float: left;
	margin: 11px 15px 15px 20px;
	color: #F88379;
	font-size: 30px;
}
header #nav ul {
	list-style-type: none;
	margin: 10px 10px 0px 0px;
	vertical-align: center;
}
header #nav li {
	display: inline;
	float: right;
	height: 60px;
	width: 100px;
	padding: 10px 5px 2px 5px;
	text-align: center;
}
header a:link, a:visited {
	text-decoration: none;
	color: #FF8598;
}
header a:hover {
	text-decoration: none;
	color: #FFC0A9;
}
header a:active {
	text-decoration: none;
	color: #FFC0A9;
}

footer {

	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 300px%;
	font-size: 16px;
	color: #FF8598;
	text-align: center;
}
footer a:link, footer a:visited {
	color: #FF8598;
	text-decoration: none;
}
footer a:hover {
	text-decoration: none;
	color: #FFC0A9;
}

h1 {
	font-family: 'Lora','Times New roman',serif;
}

h2 {
	font-family: 'Lora','Times New Roman',serif;
}
h4 {
	font-weight: bold;
}

.button {
	background-color: #D4DF9F;
	border: 1px solid #40411E;
	border-radius: 2px;
	padding: 5px 10px 5px 10px;
}
.button:hover {
	border: 1px solid #7D8A2E;
}

#intro {
	background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
	min-height: 100%;
	margin: 0px;
	padding: 200px 10% 60px 10%;
	text-align: center;
	color: #FF8598;
}

#softwareprojects {
	z-index: 1;
	background: #C9D787;
	color: #7D8A2E;
	min-height: 100%;
	margin: 0px;
	padding: 50px 10% 100px 10%;
	text-align: left;
	box-shadow: 0px 0px 10px #7D8A2E;
}
#softwareprojects h2 {
	color: #7D8A2E;
}
#softwareprojects ul {
	border: 0px;
	padding: 0px;
	list-style-type: none;
	vertical-align: center;
}
#softwareprojects li {
	border: 0px;
	padding: 0px;
	width: 500px;
	padding: 10px 10px 20px 10px;
}
#softwareprojects a:link, #softwareprojects a:visited {
	color: #7D8A2E;
	text-decoration: none;
}
#softwareprojects a:hover {
	color: #40411E;
	text-decoration: none;
}

.project {
	min-height: 300px;
	color: #40411E;
	border: 5px solid #C9D787;
	background-color: #D4DF9F;
	border-radius: 2px;
	vertical-align: center;
}

#resumetitle {
	height: 110px;
	margin: 0px;
	text-align: center;
	color: #FF8598;
}
#resumetitle a:link, #resumetitle a:visited {
	color: red;
	text-decoration: none;
}
#resumetitle a:hover {
	color: blue;
	text-decoration: none;
}

#resume {
	z-index: 1;
	background: #C9D787;
	color: #40411E;
	min-height: 100%;
	margin: 0px;
	padding: 50px 10% 50px 10%;
	text-align: left;
	box-shadow: 0px 0px 10px #7D8A2E;
}
#resume a:link, a:visited {
	color: #40411E;
	text-decoration: none;
}
#resume a:hover {
	color: #7D8A2E;
	text-decoration: none;
}