<div id="about" class="content">
	<div class="container">
		<h3>Hello world!</h3>
		<div class="row">
			<div class="four columns">
				<img src="static/images/pic.png" class="picture" alt="A picture">
			</div>
			<div class="eight columns">
				<p>I'm a mission driven developer who has been in software for a decade. I'm a graduate of the <a href="https://www.rit.edu/" target="_blank">Rochester Institute of Technology</a> where I majored in Software Engineering and I've had the honor of interning at Google Japan, SpaceX, a startup, and more. I have experience in large-scale B2B systems, startups, quality assurance, full-stack development, and security.</p> 

				<p>I went to the <a href="https://www.dcad.edu/" target="_blank">Delaware College of Art and Design</a> with a major in Interior Design as well. I'm currently working on the <a href="https://www.coursera.org/specializations/interaction-design" target="_blank">Coursera Interaction Design Specialization</a> where I'm learning the skills I need to be a user experience designer.</p>

				<p>I have a little black dog named <a href="https://www.instagram.com/meatballdoggo/" target="_blank">Meatball</a> who enjoys squeaky toys, food, and long walks in concrete jungles.</p>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="three columns">
				<strong>Languages</strong>
				<ul>
					<li>Python</li>
					<li>Dart</li>
					<li>Java</li>
					<li>HTML</li>
					<li>CSS/SCSS</li>
					<li>JavaScript</li>
				</ul>
			</div>
			<div class="three columns">
				<strong>Frameworks</strong>
				<ul>
					<li>Django</li>
					<li>Skeleton</li>
					<li>Bootstrap</li>
					<li>Angular 2</li>
				</ul>
			</div>
			<div class="three columns">
				<strong>Tools</strong>
				<ul>
					<li>Version Control (Git, SVN)</li>
					<li>Bash</li>
					<li>Linux</li>
					<li>Windows</li>
					<li>Jinja</li>
				</ul>
			</div>
			<div class="three columns">
				<strong>Design</strong>
				<ul>
					<li>Illustrator</li>
					<li>Sketch</li>
					<li>Wireframes</li>
					<li>Mock-ups</li>
				</ul>
			</div>
		</div>
	</div>
</div>