<div id="experience" class="content">
	<div class="container">
		<div class="row">
			<h3>Experience</h3>
		</div>
		
		<div class="row">
			<div class="eight columns">
				<a href="https://heyfavor.com/" target="_blank">Favor</a> (formerly known as The Pill Club)
				<br>
				Senior Software Engineer
			</div>
			<div class="four columns right-align">
				May 2021 - Sept 2022
				<br>
				Remote from New York, NY, USA
			</div>
			<div class="twelve columns">
				<p>Developed <a href="https://help.fullstory.com/hc/en-us/articles/360050058893-Dashboards-Overview">Dashboard</a>, <a href="https://help.fullstory.com/hc/en-us/articles/360052381313-Metrics-Overview">Metrics</a>, and various product features to expand FullStory from a session replay tool into a digital experience analytics tool.</p>
			</div>
		</div>
		
		<div class="row">
			<div class="eight columns">
				<a href="https://www.fullstory.com/" target="_blank">FullStory</a>
				<br>
				Software Engineer
			</div>
			<div class="four columns right-align">
				May 2020 - Dec 2020
				<br>
				Remote from New York, NY, USA
			</div>
			<div class="twelve columns">
				<p>Developed <a href="https://help.fullstory.com/hc/en-us/articles/360050058893-Dashboards-Overview">Dashboard</a>, <a href="https://help.fullstory.com/hc/en-us/articles/360052381313-Metrics-Overview">Metrics</a>, and various product features to expand FullStory from a session replay tool into a digital experience analytics tool.</p>
			</div>
		</div>
		
		<div class="row">
			<div class="eight columns">
				<a href="https://www.google.com" target="_blank">Google</a>
				<br>
				Software Engineer
			</div>
			<div class="four columns right-align">
				Oct 2017 - Apr 2020
				<br>
				New York, NY, USA
			</div>
			<div class="twelve columns">
				<p>Developer on Google Search <a href="https://www.blog.google/products/search/introducing-pathways-job-search/" target="_blank">Pathways</a>. Previously on Cloud (IoT) and Ads (DoubleClick).</p>
			</div>
		</div>

		<div class="row">
			<div class="eight columns">
				<a href="https://www.google.com" target="_blank">Google Japan</a>
				<br>
				Software Engineer Intern
			</div>
			<div class="four columns right-align">
				Sept 2016 - Dec 2016
				<br>
				Roppongi, Tokyo, Japan
			</div>
			<div class="twelve columns">
				<p>Full-stack developer on Chromium's Blink team. I helped implemented customized built-in elements. Take a look at some of the <a href="https://codereview.chromium.org/search?owner=yurak" target="_blank" class="cd-read-more">code</a> I wrote. Technologies: C++, Python, WebIDL, V8, Jinja.</p>	
			</div>
		</div>

		<div class="row">
			<div class="eight columns">
				<a href="https://www.spacex.com/" target="_blank">Space Exploration Technologies</a>
				<br>
				Information Security Intern
			</div>
			<div class="four columns right-align">
				Jan 2016 - Apr 2016
				<br>
				Hawthorne, California, USA
			</div>
			<div class="twelve columns">
				<p>Worked on the information security team. Technologies: Python, Django Framework, APIs, Jinja, intranet security best practices.</p>	
			</div>
		</div>

		<div class="row">
			<div class="eight columns">
				<a href="https://www.pfpcyber.com/" target="_blank">PFP Cybersecurity</a>
				<br>
				Software Engineer Intern
			</div>
			<div class="four columns right-align">
				Jun 2016 - Nov 2016
				<br>
				Vienna, Virginia, USA
			</div>
			<div class="twelve columns">
				<p>Created a web interface for a real-time hardware monitoring system with a stream of data. Technologies: Python, Scala, HTML, JavaScript, CSS, Play Framework, Adobe Photoshop.</p>	
			</div>
		</div>

		<div class="row">
			<div class="eight columns">
				<a href="https://www.rit.edu/" target="_blank">Rochester Institute of Technology</a>
				<br>
				Application Developer
			</div>
			<div class="four columns right-align">
				Apr 2013 - May 2015
				<br>
				Rochester, New York, USA
			</div>
			<div class="twelve columns">
				<p>Maintained and updated internal tools for the Facilities Management Services. Technologies: Visual FoxPro, SQL.</p>	
			</div>
		</div>

		<div class="row">
			<div class="eight columns">
				<a href="https://www.carestream.com/" target="_blank">Carestream Health</a>
				<br>
				Quality Engineer Intern
			</div>
			<div class="four columns right-align">
				May 2014 - Aug 2014
				<br>
				Rochester, New York, USA
			</div>
			<div class="twelve columns">
				<p>Created and ran test suites for X-ray machines. Technologies: Python, Robot Framework.</p>	
			</div>
		</div>

		<div class="row" style="text-align:center">
			<a class="button" href="static/documents/resume.pdf" target="_blank">Resume</a>
		</div>
	</div>
</div>