<div id="intro">
	<div class="container">
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="four columns right-align">
				<h1 style="color:rgba(230,230,230,1)">Yura Kim</h1>
			</div>
			<div class="eight cloumns left-align">
				 <h2 style="font-size:16px;color:#C0C0C0">
				 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Software Engineer
				 	<br>
				 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designer
				 	<br>
				 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Artist
				 </h2>
			</div>
		</div>
	</div>
</div>